body {
  font-family: 'Montserrat', 'Times New Roman', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  font-size: 0.9rem;
  background-color: hsl(0, 9%, 94%);
}

#name {
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(244, 239, 239);
  margin-right: 20px;
}

#name-pic-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.stats {
  display: flex;
  line-height: 2rem;
  padding: 15px;
}

#stats-key, #stats-value {
  flex: 1;
}

#stats-value span {
  font-weight: 600;
}

#types span, .stat {
  display: block;
}

.main {
  min-width: 360px;
  width: 33%;
  background-color: hsl(0, 5px, 97%);
  letter-spacing: 0.1rem;
  border-radius: 15px;
  box-shadow: 0 0 10px #888888;
}

#search::placeholder, input[type="text"], textarea {
  font-size: 1rem;
  font-family: Arial, sans-serif;
}

#search {
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px #888888;
  background-color: white;
}

#search-container {
  display: flex;
  align-items: center;
  position: relative;
  min-width: 360px;
  width: 33%;
  height: 35px;
  margin-bottom: 35px;
}

#btn {
  position: absolute;
  background: linear-gradient(rgb(255, 0, 0), rgb(47, 0, 255));
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  width: 30px;
  right: 10px;
  transition: transform 0.25s ease;
}

.btn-img {
  width: 20px;
  height: 20px;
}

#btn:hover {
  transform: scale(1.1);
}

#sprite {
  width: 100px;
  height: 100px;
}

#type1, #type2 {
  color: rgb(244, 239, 239);
  font-weight: bold;
  text-align: center;
  background-color: #f7d02c;
  border-radius: 10px;
  padding: 3px 10px;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: 0 0 0 2px rgb(255, 255, 255, 0.5);
}

#type2 {
  margin-top: 10px;
}

#type1:hover, #type2:hover {
  box-shadow: 0 0 0 2px rgb(255, 255, 255, 0.9);
  transform: scale(1.05);
}

#error-container {
  display: flex;
  position: absolute;
  height: 80px;
  width: 100%;
  background-color: hsl(12, 92%, 86%);
  z-index: 1;
  left: -15px;
  align-items: center;
  border-radius: 6px;
  border: 1.5px solid hsl(12, 35%, 40%);
  padding: 0 15px;
  visibility: hidden;
}

#error-container img {
  width: 50px;
  height: 50px;
}

#error-container span {
  color: hsl(12, 35%, 40%);
  display: block;
  margin-left: 15px;
  margin-right: 15px;
}

#error-label {
  font-weight: bold;
}

#error-btn {
  background: none;
  border: none;
  color: hsl(12, 33%, 54%);
  cursor: pointer;
  padding: 0;
  transition: color 0.1s ease;
}

#error-btn:hover {
  color: hsl(12, 68%, 76%);
}

#error-btn:active {
  color: hsl(12, 52%, 84%);
}